name: Dev CI (lint, format, test)

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUSTUP_MAX_RETRIES: 10

jobs:
  # Rust linting / formatting.
  cargo-fmt:
    name: "cargo fmt"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - name: Install just
        uses: taiki-e/install-action@just
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Format check
        run: just fmt-check

  cargo-clippy:
    name: "cargo clippy"
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v5
      - name: Install just
        uses: taiki-e/install-action@just
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Clippy
        run: just lint

  cargo-udeps:
    name: cargo udeps
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v5
      - name: Install just
        uses: taiki-e/install-action@just
      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
      - name: Install cargo udeps
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-udeps
      - name: Cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Udeps release
        run: just udeps

  # Tests
  # Rust tests for supported platforms.
  test-rust:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: stable
            os: ubuntu-latest
            rust: stable
          - build: macos
            os: macos-latest
            rust: stable
          - build: win
            os: windows-latest
            rust: stable
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          # need this for integration tests
          fetch-depth: 0
      - name: Install just
        uses: taiki-e/install-action@just
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Install cargo-nextest
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-nextest
          locked: true
      - name: Cargo cache
        uses: Swatinem/rust-cache@v2
      - name: Basic build
        run: just build
      - name: Tests
        run: just test-ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUST_LOG: debug
